Incident Response & Automation/step-functions/playbooks/malware_containment.asl.json
{
    "Comment": "Enterprise Malware Containment: Snapshot -> Isolate -> Human Approval -> Terminate",
    "StartAt": "TakeForensicSnapshot",
    "States": {
        "TakeForensicSnapshot": {
            "Type": "Task",
            "Resource": "arn:aws:states:::aws-sdk:ec2:createSnapshots",
            "Parameters": {
                "InstanceSpecification": {
                    "InstanceId.$": "$.detail.resource.instanceDetails.instanceId"
                },
                "Description": "Forensic snapshot triggered by GuardDuty Malware finding"
            },
            "ResultPath": "$.SnapshotResult",
            "Next": "IsolateInstance"
        },
        "IsolateInstance": {
            "Type": "Task",
            "Resource": "arn:aws:states:::aws-sdk:ec2:modifyInstanceAttribute",
            "Parameters": {
                "InstanceId.$": "$.detail.resource.instanceDetails.instanceId",
                "Groups": [
                    "${quarantine_sg_id}"
                ]
            },
            "ResultPath": "$.IsolationResult",
            "Next": "RequestHumanApproval"
        },
        "RequestHumanApproval": {
            "Type": "Task",
            "Resource": "arn:aws:states:::sns:publish.waitForTaskToken",
            "Parameters": {
                "TopicArn": "${sns_topic_arn}",
                "Message": {
                    "Message": "CRITICAL: Malware detected. Instance snapshot taken and isolated. Do you authorize termination?",
                    "InstanceId.$": "$.detail.resource.instanceDetails.instanceId",
                    "TaskToken.$": "$$.Task.Token"
                }
            },
            "ResultPath": "$.ApprovalResult",
            "Next": "CheckApprovalStatus"
        },
        "CheckApprovalStatus": {
            "Type": "Choice",
            "Choices": [
                {
                    "Variable": "$.ApprovalResult.Action",
                    "StringEquals": "APPROVE",
                    "Next": "TerminateInstance"
                },
                {
                    "Variable": "$.ApprovalResult.Action",
                    "StringEquals": "DENY",
                    "Next": "KeepIsolated"
                }
            ],
            "Default": "KeepIsolated"
        },
        "TerminateInstance": {
            "Type": "Task",
            "Resource": "arn:aws:states:::aws-sdk:ec2:terminateInstances",
            "Parameters": {
                "InstanceIds.$": "States.Array($.detail.resource.instanceDetails.instanceId)"
            },
            "End": true
        },
        "KeepIsolated": {
            "Type": "Succeed",
            "Comment": "Instance remains isolated for manual forensics."
        }
    }
}